# Optional YouTube playlist URLs for each station
NEXT_PUBLIC_PLAYLIST_TRUCK="https://www.youtube.com/playlist?list=PLAYLIST_ID"
NEXT_PUBLIC_PLAYLIST_SALON="https://www.youtube.com/playlist?list=PLAYLIST_ID"
NEXT_PUBLIC_PLAYLIST_CHAI_TAPRI="https://www.youtube.com/playlist?list=PLAYLIST_ID"
NEXT_PUBLIC_PLAYLIST_AUTO_WALA="https://www.youtube.com/playlist?list=PLAYLIST_ID"
NEXT_PUBLIC_PLAYLIST_BUS_WALA="https://www.youtube.com/playlist?list=PLAYLIST_ID"
NEXT_PUBLIC_PLAYLIST_RAILWAY_WALA="https://www.youtube.com/playlist?list=PLAYLIST_ID"
NEXT_PUBLIC_PLAYLIST_HIGHWAY_DHABA="https://www.youtube.com/playlist?list=PLAYLIST_ID"
NEXT_PUBLIC_PLAYLIST_PAN_GALLA="https://www.youtube.com/playlist?list=PLAYLIST_ID"
NEXT_PUBLIC_PLAYLIST_GUJARATI_TRUCK=""
NEXT_PUBLIC_PLAYLIST_MONSOON_WALA=""
NEXT_PUBLIC_PLAYLIST_NIGHT_SHIFT=""
